<div class="list-group">

  <a href="http://www.aikikai.or.jp/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>
        {% if page.lang == 'ja' %}公益財団法人合気会{% else %}Aikikai Foundation{% endif %}
      </h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>aikikai.or.jp</small>
  </a>
  <a href="http://www.aikido-international.org/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>
        {% if page.lang == 'ja' %}国際合気道連盟 (IAF){% else %}International Aikido Federation (IAF){% endif %}
      </h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>aikido-international.org</small>
  </a>
  <a href="https://www.aikidokyoto.com/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>
        {% if page.lang == 'ja' %}合気道京都{% else %}Aikido Kyoto{% endif %}
      </h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>aikidokyoto.com</small>
  </a>
  <a href="http://www.lares.dti.ne.jp/~horii" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>
        {% if page.lang == 'ja' %}相生會 合気道神戸三田道場{% else %}Aioikai - Aikido Kobe Sanda Dojo{% endif %}
      </h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>lares.dti.ne.jp/~horii</small>
  </a>
  <a href="https://aikidosanshin.wixsite.com/sanshinkai" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>
        {% if page.lang == 'ja' %}合気道 三心会{% else %}Aikido Sanshikai{% endif %}
      </h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>aikidosanshin.wixsite.com/sanshinkai</small>
  </a>
  <a href="https://birankai.org/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>
        {% if page.lang == 'ja' %}北米毘嵐会{% else %}Birankai North America{% endif %}
      </h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>birankai.org</small>
  </a>
  <a href="https://www.birankai.eu/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>
        {% if page.lang == 'ja' %}欧州毘嵐会{% else %}Birankai Europe{% endif %}
      </h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>birankai.eu</small>
  </a>
  <a href="http://thistleaikikai.com/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>Thistle Aikikai</h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>thistleaikikai.com</small>
  </a>
  <a href="http://aikidoarashigroup.com/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>Aikido Arashi Group</h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>aikidoarashigroup.com</small>
  </a>
  <a href="http://dojocentral.arashigroup.com/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>Dojo Central Arashi Group</h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>dojocentral.arashigroup.com</small>
  </a>
  <a href="http://www.aikidobadalona.com/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>Aikido Arashi Badalona</h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>aikidobadalona.com</small>
  </a>
  <a href="https://www.upc.edu/esports/activitats/artsmarcials/aikido" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>Aikido UPC</h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>upc.edu/esports/activitats/artsmarcials/aikido</small>
  </a>
  <a href="http://aikidojoterrassa.com/" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5>Aikidojo Terrassa</h5>
      <small><i class="fas fa-external-link-alt"></i></small>
    </div>
    <small>aikidojoterrassa.com</small>
  </a>

</div>
