<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">

  <a class="navbar-brand" href="{% if page.lang == 'es' %}{{ site.url }}/{% else %}{{ site.url }}/{{ page.lang }}/{% endif %}" title="{% if page.lang == 'ja' %}合気道産靈 (あいきどうむすび){% else %}Aikido Musubi{% endif %}">
    {% if page.lang == 'ca' %}{{ site.title }}{% endif %}
    {% if page.lang == 'en' %}{{ site.title }}{% endif %}
    {% if page.lang == 'es' %}{{ site.title }}{% endif %}
    {% if page.lang == 'ja' %}合気道<ruby>産靈<rt>むすび</rt></ruby>{% endif %}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if page.lang == 'ca' %}Classes i Horaris{% endif %}
          {% if page.lang == 'en' %}Classes and Schedule{% endif %}
          {% if page.lang == 'es' %}Clases y Horarios{% endif %}
          {% if page.lang == 'ja' %}クラス・スケジュール{% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="
            {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/classes/{% endif %}
            {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/classes/{% endif %}
            {% if page.lang == 'es' %}{{ site.url }}/clases/{% endif %}
            {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/classes/{% endif %}
          ">
            {% if page.lang == 'ca' %}Classes{% endif %}
            {% if page.lang == 'en' %}Classes{% endif %}
            {% if page.lang == 'es' %}Clases{% endif %}
            {% if page.lang == 'ja' %}各クラスの紹介{% endif %}
          </a>
          <a class="dropdown-item" href="
            {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/horaris/{% endif %}
            {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/training-schedule/{% endif %}
            {% if page.lang == 'es' %}{{ site.url }}/horarios/{% endif %}
            {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/training-schedule/{% endif %}
          ">
            {% if page.lang == 'ca' %}Horaris{% endif %}
            {% if page.lang == 'en' %}Training Schedule{% endif %}
            {% if page.lang == 'es' %}Horarios{% endif %}
            {% if page.lang == 'ja' %}稽古時間{% endif %}
          </a>
          <a class="dropdown-item" href="
            {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/quotes/{% endif %}
            {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/fees/{% endif %}
            {% if page.lang == 'es' %}{{ site.url }}/cuotas/{% endif %}
            {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/fees/{% endif %}
          ">
            {% if page.lang == 'ca' %}Quotes{% endif %}
            {% if page.lang == 'en' %}Fees{% endif %}
            {% if page.lang == 'es' %}Cuotas{% endif %}
            {% if page.lang == 'ja' %}月謝{% endif %}
          </a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if page.lang == 'ca' %}Media{% endif %}
          {% if page.lang == 'en' %}Media{% endif %}
          {% if page.lang == 'es' %}Media{% endif %}
          {% if page.lang == 'ja' %}メディア{% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="
            {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/fotos/{% endif %}
            {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/photos/{% endif %}
            {% if page.lang == 'es' %}{{ site.url }}/fotos/{% endif %}
            {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/photos/{% endif %}
          ">
            {% if page.lang == 'ca' %}Fotos{% endif %}
            {% if page.lang == 'en' %}Photos{% endif %}
            {% if page.lang == 'es' %}Fotos{% endif %}
            {% if page.lang == 'ja' %}写真{% endif %}
          </a>
          <a class="dropdown-item" href="
            {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/videos/{% endif %}
            {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/videos/{% endif %}
            {% if page.lang == 'es' %}{{ site.url }}/videos/{% endif %}
            {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/videos/{% endif %}
          ">
            {% if page.lang == 'ca' %}Vídeos{% endif %}
            {% if page.lang == 'en' %}Videos{% endif %}
            {% if page.lang == 'es' %}Vídeos{% endif %}
            {% if page.lang == 'ja' %}ビデオ{% endif %}
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="
          {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/cursos/{% endif %}
          {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/courses/{% endif %}
          {% if page.lang == 'es' %}{{ site.url }}/cursos/{% endif %}
          {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/courses/{% endif %}
        ">
          {% if page.lang == 'ca' %}Cursos{% endif %}
          {% if page.lang == 'en' %}Courses{% endif %}
          {% if page.lang == 'es' %}Cursos{% endif %}
          {% if page.lang == 'ja' %}講習会{% endif %}
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% if page.lang == 'ca' %}Contacte i Accés{% endif %}
          {% if page.lang == 'en' %}Contact and Access{% endif %}
          {% if page.lang == 'es' %}Contacto y Acceso{% endif %}
          {% if page.lang == 'ja' %}お問い合わせ・アクセス{% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="
            {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/acces/{% endif %}
            {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/access-information/{% endif %}
            {% if page.lang == 'es' %}{{ site.url }}/acceso/{% endif %}
            {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/access-information/{% endif %}
          ">
            {% if page.lang == 'ca' %}Accés{% endif %}
            {% if page.lang == 'en' %}Access Information{% endif %}
            {% if page.lang == 'es' %}Acceso{% endif %}
            {% if page.lang == 'ja' %}アクセス{% endif %}
          </a>
          <a class="dropdown-item" href="
            {% if page.lang == 'ca' %}{{ site.url }}/{{ page.lang }}/contacte/{% endif %}
            {% if page.lang == 'en' %}{{ site.url }}/{{ page.lang }}/contact/{% endif %}
            {% if page.lang == 'es' %}{{ site.url }}/contacto/{% endif %}
            {% if page.lang == 'ja' %}{{ site.url }}/{{ page.lang }}/contact/{% endif %}
          ">
            {% if page.lang == 'ca' %}Contacte{% endif %}
            {% if page.lang == 'en' %}Contact{% endif %}
            {% if page.lang == 'es' %}Contacto{% endif %}
            {% if page.lang == 'ja' %}お問合せ{% endif %}
          </a>
        </div>
      </li>
    </ul>

    <div class="navbar-text">
      {% include language-switcher.html %}
    </div>
  </div>
</nav>
