{% if page.i18n-ref == 'index-8oGCaMDs' %}
<nav id="index-8oGCaMDs-nav" class="nav justify-content-center stickyBar">
  <a class="nav-link" href="#welcome">
    {% if page.lang == 'ca' %}Benvinguts{% endif %}
    {% if page.lang == 'en' %}Welcome{% endif %}
    {% if page.lang == 'es' %}Bienvenidos{% endif %}
    {% if page.lang == 'ja' %}ようこそ{% endif %}
  </a>
  <a class="nav-link" href="#our-dojo">
    {% if page.lang == 'ca' %}El nostre dojo{% endif %}
    {% if page.lang == 'en' %}Our dojo{% endif %}
    {% if page.lang == 'es' %}Nuestro dojo{% endif %}
    {% if page.lang == 'ja' %}道場について{% endif %}
  </a>
  <a class="nav-link" href="#aikido">
    {% if page.lang == 'ca' %}Aikido{% endif %}
    {% if page.lang == 'en' %}Aikido{% endif %}
    {% if page.lang == 'es' %}Aikido{% endif %}
    {% if page.lang == 'ja' %}合気道とは{% endif %}
  </a>
  <a class="nav-link" href="#instructors">
    {% if page.lang == 'ca' %}Instructors{% endif %}
    {% if page.lang == 'en' %}Instructors{% endif %}
    {% if page.lang == 'es' %}Instructores{% endif %}
    {% if page.lang == 'ja' %}指導者{% endif %}
  </a>
  <a class="nav-link" href="#association">
    {% if page.lang == 'ca' %}Associació Cultural{% endif %}
    {% if page.lang == 'en' %}Association{% endif %}
    {% if page.lang == 'es' %}Asociación Cultural{% endif %}
    {% if page.lang == 'ja' %}文化協会{% endif %}
  </a>
  <a class="nav-link" href="#links">
    {% if page.lang == 'ca' %}Enllaços{% endif %}
    {% if page.lang == 'en' %}Links{% endif %}
    {% if page.lang == 'es' %}Enlaces{% endif %}
    {% if page.lang == 'ja' %}リンク{% endif %}
  </a>
</nav>
{% endif %}
{% if page.i18n-ref == 'classes-CJc2lhFv' %}
<nav id="classes-CJc2lhFv-nav" class="nav justify-content-center stickyBar">
  <a class="nav-link" href="#aikido">
    {% if page.lang == 'ja' %}合気道{% else %}Aikido{% endif %}
  </a>
  <a class="nav-link" href="#iaijutsu">
    {% if page.lang == 'ja' %}居合術{% else %}Iaijutsu{% endif %}
  </a>
  <a class="nav-link" href="#judo">
    {% if page.lang == 'ja' %}柔道{% else %}Judo{% endif %}
  </a>
  <a class="nav-link" href="#karate">
    {% if page.lang == 'ja' %}空手{% else %}Karate{% endif %}
  </a>
</nav>
{% endif %}
{% if page.i18n-ref == 'courses-hFZ2XXIp' %}
<nav id="courses-hFZ2XXIp-nav" class="nav justify-content-center stickyBar">
  <a class="nav-link active" href="#show-all" data-filter="all">
    {% if page.lang == 'ca' %}Tots els cursos{% endif %}
    {% if page.lang == 'en' %}All courses{% endif %}
    {% if page.lang == 'es' %}Todos los cursos{% endif %}
    {% if page.lang == 'ja' %}すべて{% endif %}
  </a>
  <a class="nav-link" href="#upcoming" data-filter="upcoming">
    {% if page.lang == 'ca' %}Properament{% endif %}
    {% if page.lang == 'en' %}Upcoming{% endif %}
    {% if page.lang == 'es' %}Próximamente{% endif %}
    {% if page.lang == 'ja' %}今度の講習会{% endif %}
  </a>
  <a class="nav-link" href="#ended" data-filter="ended">
    {% if page.lang == 'ca' %}Finalitzat{% endif %}
    {% if page.lang == 'en' %}Ended{% endif %}
    {% if page.lang == 'es' %}Finalizado{% endif %}
    {% if page.lang == 'ja' %}終了{% endif %}
  </a>
</nav>
{% endif %}
{% if page.i18n-ref == 'access-information-NdxqmVbV' %}
<nav id="access-information-NdxqmVbV-nav" class="nav justify-content-center stickyBar">
  <a class="nav-link" href="#aikido-musubi">
    {% if page.lang == 'ca' %}Aikido Musubi{% endif %}
    {% if page.lang == 'en' %}Aikido Musubi{% endif %}
    {% if page.lang == 'es' %}Aikido Musubi{% endif %}
    {% if page.lang == 'ja' %}合気道産靈{% endif %}
  </a>
  <a class="nav-link" href="#sant-adria-de-besos">
    {% if page.lang == 'ca' %}Sant Adrià de Besòs{% endif %}
    {% if page.lang == 'en' %}Sant Adrià de Besòs{% endif %}
    {% if page.lang == 'es' %}Sant Adrià de Besòs{% endif %}
    {% if page.lang == 'ja' %}サント・アドリアー・ダ・バゾス{% endif %}
  </a>
  <a class="nav-link" href="#university-of-barcelona">
    {% if page.lang == 'ca' %}Universitat de Barcelona{% endif %}
    {% if page.lang == 'en' %}University of Barcelona{% endif %}
    {% if page.lang == 'es' %}Universidad de Barcelona{% endif %}
    {% if page.lang == 'ja' %}バルセロナ大学{% endif %}
  </a>
</nav>
{% endif %}
