<ul>
  {% assign num = page.photos.size %}
    {% for i in (1..num) %}
      <li>
        <picture>
          <source type="image/webp" srcset="{{ site.url }}/photos/{{ page.photos.album }}/{{ page.photos.album }}-{{ i }}.webp">
          <source type="image/jpeg" srcset="{{ site.url }}/photos/{{ page.photos.album }}/{{ page.photos.album }}-{{ i }}.jpg">
          <img data-src="{{ site.baseurl }}/photos/{{ page.photos.album }}/{{ page.photos.album }}-{{ i }}.jpg" class="img-fluid lazyload" alt="Photo {{ i }} from {{ page.title }}">
        </picture>
      </li>
    {% endfor %}
</ul>
